<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AI Safety Info - Semantic Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}"/>
  </head>

  <body>
    {% extends "template.html" %}
    {% block content %}
    <div style="width:100%; padding:5px" >

    <div class="search-header">
        <h2 id="title">Semantic Search for Similar FAQs</h2>
        <span>
            <input type="checkbox" id="all" name="status" value="All" class="status-input">
            <label for="all" class="status-label">All</label>
            <input type="checkbox" id="live" name="live" value="Live on site" class="status-input">
            <label for="live" class="status-label">Live</label>
            <input type="checkbox" id="in_progress" name="in_progress" value="In progress" class="status-input">
            <label for="in_progress" class="status-label">In progress</label>
        </span>
    </div>
    <p id="status"></p>
      <input type="search" id="query" name="question" value="{{ query }}">
      <div id="results" class="dropdown-content show">
        {% for item in results %}
        <a href="{{ item.url }}" target="_blank">({{ '{0:.2f}'.format(item.score) }}) {{ item.title }}</a>
        {% endfor %}
      </div>
    </div>

    </body>
    <script>
      const TITLE = document.getElementById('title');
      const STATUS = document.getElementById('status');
      const QUERY = document.getElementById('query');
      const RESULTS = document.getElementById('results');
      const ANCHORS = RESULTS.getElementsByTagName('a');
      const QUERY_URL = "/api/search?status=all&query="

      QUERY.addEventListener('keyup', search);
      Array.from(document.getElementsByClassName('status-input')).forEach(e => e.addEventListener('change', search))

      async function search() {
        STATUS.innerText = "";

        const statusParams = Array.from(document.getElementsByClassName('status-input'))
             .filter(e => e.checked)
             .map(e => 'status=' + encodeURIComponent(e.value))
             .join('&')

        apicall = QUERY_URL + encodeURIComponent(QUERY.value) + (statusParams !== "" ? '&' + statusParams : '');
        console.log("get:", apicall);
        let f = await fetch(apicall);
        let text = await f.text();
        response = JSON.parse(text);
        console.log("response", response);

        let k = 5
        // print top k results
        response.slice(0, k).forEach((res, i) => {
            ANCHORS[i].href = res["url"]
            ANCHORS[i].innerHTML = `(${res["score"].toFixed(2)}) ${res["title"]}`
        })
      }
    </script>
    {% endblock %}
</html>
